<template>
    <v-card id="create">
        <v-container fluid pa-2>
            <v-card-title primary-title>
                <div>
                    <h2 class="headline mb-0">Создание типа проекта</h2>
                </div>
            </v-card-title>
            <v-container fluid grid-list-md pa-4>
                <creating-form
                        ref="form"
                        :type="type" 
                        :mode="'create'" 
                        :allTypes="allTypes"
                ></creating-form>
                <v-card-actions mt-3>
                    <v-container fluid class="align-end">
                        <v-btn flat color="primary" @click="clear()">Очистить форму</v-btn>
                        <v-btn :loading="loading" right color="primary" @click="save">Сохранить</v-btn>
                    </v-container>
                </v-card-actions>
            </v-container> 
        </v-container>
    </v-card>
</template>

<script>
    import CreatingForm from './form.vue'
    export default {
        data() {
            return {
                loading: false,
                type: {
                    parent_id: ''
                },
                allCategories: []
            }
        },

        components: {
            CreatingForm
        },

        created () {
            this.load();
        },

        methods: {

            async load () {
                this.allTypes = await this.$http.get(`allProjectTypes`);
            },
            
            clear () {
                this.$refs.form.clear();
            },

            async save () {
                if (this.$refs.form.validate()){
                    const data = new FormData();
                    for (let key in this.type) {                   
                        data.append(key, this.type[key]);
                    }

                    try {
                        this.loading = true;
                        let response = await this.$http.post('project_types', data);
                        this.loading = false;
                        await this.load();
                        if (response.result == 'success') {
                            this.flash(`Тип проекта создан`, 'success');
                        }
                        this.$refs.form.clear();
                    } catch (e) {
                        this.loading = false;
                        this.flash(`Ошибка ${e.message}`, 'error');
                    }
                }
            }
        }
    }
</script>

<style>
    .card{
        width: 100%;
    }
    .table__overflow{
        overflow-x: hidden !important;
    }
</style>