 <template>
    <v-card id="edit">
        <v-container fluid pa-2>
            <v-card-title primary-title>
                <div>
                    <h2 class="headline mb-0">Редактирование типа</h2>
                    <div>Также можно добавить подтипы.</div>
                </div>
            </v-card-title>
            <v-container fluid grid-list-md pa-4>
                <creating-form
                            ref="form"
                            :type="type" 
                            :allTypes="allTypes" 
                            :update="true" 
                            :children="children" 
                            :freeTypes="freeTypes"
                            @deletetype="deletetype" 
                            @edittype="fetchData"
                            @refresh="load"
                ></creating-form>
                <v-card-actions mt-3>
                    <v-btn flat color="primary" @click="$router.push('/project_types')">Вернуться к списку</v-btn>
                    <v-btn :loading="loading" color="primary" @click="save">Сохранить</v-btn>
                </v-card-actions>
            </v-container> 
        </v-container>
    </v-card>
</template>

<script>
    import CreatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                loading: false,
                type: {
                    name: '',
                    slug: '',
                    parent_id: ''
                },
                allTypes: [],
                children: [],
                parent_id: '',
                freeTypes: []
            }
        },

        components: {
            CreatingForm
        },

        created () {
            this.load();
        },

        methods: {
            async load () {
                let responsedData = await this.$http.get(`project_types/${this.$route.params.id}`);
                this.type = responsedData.type;
                this.allTypes = await this.$http.get(`allProjectTypes`);
                this.children = responsedData.children;    
                this.type.parent_id = this.type.parent_id ? this.type.parent_id : '';
                this.parent_id = this.type.parent_id; 
                this.freeTypes = responsedData.freeTypes;
            },

            async save () {
                if (this.$refs.form.validate()){
                    const data = new FormData()
                    if (this.type && !this.type.parent_id){
                        this.type.parent_id = '';
                    }
                    for (let key in this.type) {
                        data.append(key, this.type[key]);
                    }

                    try {
                        this.loading = true;
                        let response = await this.$http.post(`project_types/${this.$route.params.id}`, data);
                        this.loading = false;
                        await this.load();
                        if (response.result == 'success') {
                            this.flash('Тип проектов обновлен', 'success');
                        }
                    } catch (e) {
                        this.flash(e , 'error');                    
                    }
                }
            },
            async deletetype (type) {
                let response = await this.$http.delete(`project_types/${type.id}`);

                await this.load();

                this.$parent.message = 'Тип проектов ' + type.name + ' успешно удалён';
                this.$parent.showModal = true;                
            },
            fetchData (id) {
                this.$router.push('/project_types/' + id);
                if(id !== '') {
                    this.load();
                }
            }
        }
    }
</script>

<style>
    .card{
        width: 100%;
    }
    .table__overflow{
        overflow-x: hidden !important;
    }
</style>