<template>
    <v-layout column>        
        <v-layout>
            <v-form v-model="valid" ref="form" lazy-validation>
                <v-layout child-flex wrap>

                    <v-flex md6>
                        <v-text-field
                            name="name"
                            label="Название категории"
                            v-model="type.name"
                            :rules="reqRules"
                            required
                        ></v-text-field>
                    </v-flex>

                    <v-flex md6>
                        <v-text-field
                            name="slug"
                            label="Ссылка типа продукта"
                            v-model="type.slug"
                            :rules="reqRules"
                            required
                        ></v-text-field>
                    </v-flex>

                    <v-flex md6 v-if="!children || children.length === 0">
                        <v-select
                            :items="[{name: 'Нет родительского типа', id: ''},...enableTypes]"
                            item-text="name"
                            item-value="id"
                            v-model="type.parent_id"
                            label="Родительский тип"
                            single-line
                        ></v-select>
                    </v-flex>

                </v-layout>
            </v-form>   
        </v-layout>
        <v-layout child-flex wrap>
            <v-flex xs12 v-if="update">
                <v-card-title primary-title>
                    <div>
                        <h3 class="mb-0">Список подтипов</h3>
                    </div>
                </v-card-title>
                <v-data-table
                    :headers="headers"
                    :items="children"
                    hide-actions
                    class="elevation-2"
                    :no-data-text="`У ${type.name} нет подтипов`"
                >
                    <template slot="items" slot-scope="props">
                        <td class="text-md-left">{{ props.item.name }}</td>
                        <td class="text-md-center">{{ props.item.slug }}</td>
                        <td class="text-md-center">{{ props.item.children_count }}</td>
                        <td class="text-md-center justify-center layout px-0">
                            <v-btn icon class="mx-0" @click="$emit('edittype', props.item.id)">
                            <v-icon color="teal">edit</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="$emit('deletetype', props.item)">
                            <v-icon color="pink">delete</v-icon>
                            </v-btn>
                        </td>
                    </template>

                    <template v-if="enableFreeTypes.length > 0" slot="footer">
                        <td colspan="2">
                            <v-select
                                :items="[{name: 'Выберите подтип', value: ''}, ...enableFreeTypes]"
                                item-text="name"
                                v-model="clickedType"
                                label="Выберите подтип"
                                single-line
                            ></v-select>
                        </td>
                        <td class="text-md-right" colspan="2">
                            <v-btn flat color="primary" @click="saveParent()">
                                Добавить подтип
                            </v-btn>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout> 
    </v-layout>
</template>

<script>
    export default {
        props: ['type','update', 'allTypes', 'freeTypes', 'children'],
        data() {
            return {
                clickedType: [],
                valid: true,
                headers: [
                    {
                        text: 'Название типа проекта',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    },
                    { 
                        text: 'Адрес ссылки',
                        align: 'center',
                        value: 'slug',
                        sortable: false 
                    },
                    { 
                        text: 'Количество подтипов',
                        align: 'center',
                        value: 'children_count',
                        sortable: false
                    },
                    { text: 'Добавить', align: 'center', value: 'name', sortable: false }
                ],
                name: '',
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ]
            }
        },
        computed: {
            enableTypes: function () {
                if (this.allTypes) {
                    return this.allTypes.filter((item) => {
                        return this.type.id !== item.id;
                    });
                } else {
                    return [];
                }
            },
            enableFreeTypes: function () {
                if (this.freeTypes) {
                    return this.freeTypes.filter((item) => {
                        return !item.children_count && !item.parent_id;
                    });
                } else {
                    return [];
                }
            }
        },
        methods: {
            async saveParent () {
                if (this.clickedType) {
                    this.clickedType.parent_id = this.type.id;
                    const data = new FormData()
                    for (let key in this.clickedType) {
                        data.append(key, this.clickedType[key]);
                    }

                    try {
                        let response = await this.$http.post(`project_types/${this.clickedType.id}`, data);

                        this.$emit('refresh');

                        if (response.result == 'success') {
                            this.flash('Тип проекта добавлен в список подтипов','success');
                            this.clickedType = [];
                        }
                    } catch (e) {
                        this.flash('Ошибка','error');            
                    }
                }
            },
            validate () {
                return this.$refs.form.validate();
            },
            clear () {
                this.$refs.form.reset()
            }
        }
    }
</script>

<style scoped>
    form {
        width: 100%;
    }
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>