<template>
    <v-layout>
        <v-card>
            <v-container fluid pa-2>
                <v-card-title primary-title>
                    <div>
                        <h1 class="headline mb-0">Список типов проектов</h1>
                        <div>Верхний уровень типов, чтобы увидеть подтипы перейдите в раздел реактирования типа.</div>
                    </div>
                </v-card-title>
                <v-container fluid grid-list-md pa-4>
                    <v-data-table
                        :headers="headers"
                        :items="typesFilter"
                        hide-actions
                        class="elevation-1"
                    >
                        <template slot="items" slot-scope="props">
                            <td class="text-md-left">{{ props.item.id }}</td>
                            <td class="text-md-left">{{ props.item.name }}</td>
                            <td class="text-md-center">{{ props.item.slug }}</td>
                            <td class="text-md-center">{{ props.item.children_count }}</td>
                            <td class="justify-center layout px-0">
                                <v-btn icon class="mx-0" @click="editItem(props.item)">
                                <v-icon color="teal">edit</v-icon>
                                </v-btn>
                                <v-btn icon class="mx-0" @click="deletetype(props.item)">
                                <v-icon color="pink">delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </v-container>
            </v-container>
        </v-card>        
    </v-layout>
</template>

<script>
    export default {
        props: [
            'title',
        ],

        data() {
            return {
                types: [],
                filterName: '',
                headers: [
                    {
                        text: 'ID',
                        align: 'center',
                        sortable: false,
                        value: 'id'
                    },
                    {
                        text: 'Название категории',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    },
                    { 
                        text: 'Адрес ссылки',
                        align: 'center',
                        value: 'slug',
                        sortable: false 
                    },
                    { 
                        text: 'Количество подкатегорий',
                        align: 'center',
                        value: 'children_count',
                        sortable: false
                    },
                    { text: '', align: 'center', value: 'name', sortable: false }
                ]
            }
        },

        created () {
            this.load();
        },

        computed: {
            typesFilter: function () {
                let globalContext = this;

                return this.types.filter(function (type) {
                    return (type.name.indexOf(globalContext.filterName) !== -1);
                })                
            }
        },

        methods: {
            async load () {
                var responsedData = await this.$http.get('project_types');
                this.types = responsedData.types;
            },

            async deletetype (type) {
                try {
                    let response = await this.$http.delete(`project_types/${type.id}`);

                    await this.load();

                    this.flash('Категория успешно удалёна', 'success');
                } catch(e) {
                    this.flash('Ошибка', 'error');
                }
                
            },
            editItem (type) {
                this.$router.push(`/project_types/${type.id}`);
            }
        }
    }
</script>

<style>
    .v-card, .card {
        width: 100%;
    }
    .v-table, .table__overflow {
        overflow-x: hidden !important;
    }
</style>