// colors
$white: white;
$dark: #202020;
$black: #313131;
$accent: #d6ab60;
$gray: #757575;
$lightestgray: #f5f5f5;
$servicegray: #f7f7f7;

/**
* Styles
*/

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.clear {
  clear: both;
  float: none;
  width: 100%;
}
.gallery-block {
  padding-left: 4px;
}
.gallery a img {
  width: 18%;
  height: 152px;
  object-fit: cover;
  margin: 3px;
  transition: transform 0.15s ease;
  position: relative;
  &:hover {
    filter: grayscale(0.2);
  }
  @media (max-width: (600px)) {
    width: 50%;
  }
}
/* line 57, ../sass/demo.scss */
.gallery a.big img {
  width: 40%;
}

.burger-menu {
  position: fixed;
  top: 10px;
  left: -999999px;
  z-index: 99;
  @media (max-width: (900px)) {
    left: 10px;
  }
  & span {
    &.light {
      color: $white;
    }
    color: $black;
    font-size: 24px;
  }
}

header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  float: left;
  background: url("/assets/index/img/background.jpg");
  @media (max-width: (900px)) {
    z-index: 90;
    left: -110%;
    width: 50%;
    transition: 0.5s;
    &.open {
      left: 0;
    }
  }
  @media (max-width: (600px)) {
    width: 100%;
  }
  & > .wrapper {
    & > .inner {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 60px 47px 40px;
      height: 100vh;
      box-sizing: border-box;
      & > a {
        display: block;
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-bottom: 61px;
        color: white;
      }
      & > nav {
        list-style: none;
        margin-bottom: 40px;
        & li {
          position: relative;
          width: calc(100% + 47px);
          &:hover {
            & > .hidden-menu {
              margin-left: 0;
              opacity: 1;
              visibility: visible;
            }
          }
          & > .hidden-menu {
            position: absolute;
            top: 0;
            left: 100%;
            width: 100%;
            margin-left: 50px;
            opacity: 0;
            background-color: #303030;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            & > ul {
              list-style: none;
              border: none;
              padding: 13px 0;
              margin: 0;
              & > li {
                width: 100%;
                & > .hidden-menu {
                  margin-top: -13px;
                }
                & .line {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  width: 1px;
                  height: 1px;
                  background: none;
                  transition: all 0.3s ease-in-out;
                }
                & > a {
                  display: block;
                  position: relative;
                  height: auto;
                  padding: 6px 12px;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 20px;
                  color: #fff;
                  margin: 0 12px;
                  text-transform: uppercase;
                  text-decoration: none;
                  position: relative;
                  & i {
                    font-size: 16px;
                    float: right;
                  }
                  > span {
                    display: inline-block;
                    position: relative;
                    padding-bottom: 3px;
                  }
                  &:hover > span > .line {
                    width: 100%;
                    background: $accent;
                  }
                }
              }
            }
          }
          & > a {
            display: block;
            padding: 15px 0;
            font-weight: 400;
            font-style: normal;
            font-size: 13px;
            line-height: 14px;
            text-transform: uppercase;
            color: $white;
            transition: 0.3s;
            &:hover {
              color: $accent;
            }
          }
        }
      }
      & .tel {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.7rem;
        color: $white;
        margin-bottom: 15px;
      }
      & .soc-networks {
        & .fa {
          font-size: 1.6rem;
          margin-bottom: 5px;
          margin-right: 20px;
          color: $white;
          transition: 0.3s;
          &:hover {
            color: $accent;
          }
        }
      }
    }
  }
}
.project-types-menu {
  padding: 20px 0 21px;
  position: relative;
  border: 1px solid #e4e4e4;
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    & > li {
      display: inline-block;
      vertical-align: top;
      list-style: none;
      box-sizing: border-box;
      padding: 0 25px 25px;
      width: auto;
      & > a {
        display: block;
        font-size: 18px;
        padding: 6px 10px;
        color: $black;
        border-bottom: 1px solid #e4e4e4;
        &:hover > span {
          color: $accent;
        }
      }
      & > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        list-style: none;
        & > li {
          margin: 7px 10px;
          & > a {
            font-size: 16px;
            font-weight: 300;
            &:hover > span {
              color: $accent;
            }
          }
        }
      }
    }
  }
}
.main-content {
  margin-left: 280px;
  @media (max-width: (900px)) {
    margin-left: 0;
    width: 100%;
  }
  & > .container {
    width: 100%;
    & .page-top-image {
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 366px;
      @media (max-width: (900px)) {
        height: 200px;
      }
      & .image-back {
        position: fixed;
        top: 0;
        left: 280px;
        width: calc(100% - 280px);
        height: 366px;
        z-index: -1;
        @media (max-width: (900px)) {
          left: 0;
          width: 100%;
          height: 200px;
        }
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          @media (max-width: (900px)) {
            height: 200px;
          }
        }
      }
      & > .title {
        text-align: center;
        min-width: 796px;
        max-width: 796px;
        @media (max-width: (900px)) {
          max-width: 100%;
          min-width: auto;
        }
        & h1 {
          font-size: 33px;
          letter-spacing: 2px;
          color: $white;
          margin: 0;
          @media (max-width: (900px)) {
            font-size: 18px;
          }
        }
        & h2 {
          color: $white;
          display: block;
          margin: 0;
          margin-top: 3px;
          font-size: 18px;
          line-height: 1.5em;
          font-weight: 400;
        }
      }
    }
    & .content {
      &.white {
        background: $white;
      }
      &.gray {
        background: $lightestgray;
      }
      &.accent {
        background: $accent;
        & p,
        & h5 {
          color: $white !important;
          font-weight: 600 !important;
        }
      }
      &.link {
        padding: 10px 70px;
        @media (max-width: (900px)) {
          padding: 10px 30px;
        }
        @media (max-width: (600px)) {
          padding: 10px;
        }
        & .link-block {
          display: block;
          text-align: center;
          padding: 10px 0;
          margin-bottom: 95px;
          & a {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 300;
            margin: 10px;
          }
        }
      }
      & > .main-image {
        position: relative;
        margin-bottom: 40px;
        & img {
          position: relative;
          width: 100%;
          height: 100vh;
          object-fit: cover;
          object-position: center;
        }
        & > .title {
          position: absolute;
          left: 53px;
          top: 50%;
          min-width: 796px;
          max-width: 796px;
          transform: translate(0, -50%);
          @media (max-width: (900px)) {
            max-width: 565px;
            min-width: auto;
            width: 100%;
          }
          @media (max-width: (600px)) {
            left: 0;
            text-align: center;
            & h1 {
              font-size: 40px !important;
              line-height: 45px !important;
            }
          }
          & h1 {
            font-size: 87px;
            line-height: 91px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 7px;
            color: $white;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform-origin: 50% 50% 0px;
            margin: 0;
            margin-bottom: 10px;
            @media (max-width: (900px)) {
              font-size: 56px;
              line-height: 70px;
            }
          }
          & h2 {
            color: $white;
            line-height: 25px;
            margin: 0px;
            padding: 0px;
            letter-spacing: 0px;
            font-weight: 300;
            font-size: 17px;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform-origin: 50% 50% 0px;
            margin-left: 7px;
            @media (max-width: (600px)) {
              font-size: 42px;
              line-height: 44px;
              font-weight: 400;
              margin-bottom: 30px;
            }
          }
          & a {
            display: inline-block;
            position: relative;
            outline: 0;
            font-style: normal;
            font-weight: 700;
            font-family: inherit;
            padding: 17px 43px;
            font-size: 11px;
            line-height: 1.7em;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-radius: 55px;
            border: 1px solid $white;
            margin-left: 7px;
            color: $white;
            transition: 0.3s;
            &:hover {
              background: $white;
              color: $black;
            }
          }
        }
      }
      & .block {
        width: 100%;
        & .center-title {
          color: $black;
          font-weight: 300;
          text-transform: uppercase;
          padding-top: 90px;
          padding-bottom: 15px;
          font-size: 33px;
          margin: 0;
          text-align: center;
          @media (max-width: (600px)) {
            padding-top: 40px;
          }
        }
        & .center-subtitle {
          margin: 0;
          padding: 0 15%;
          font-size: 18px;
          line-height: 27px;
          font-weight: 300;
          text-align: center;
          color: $black;
          @media (max-width: (900px)) {
            padding: 0 5%;
          }
        }
        & .line {
          width: 50px;
          border-bottom: 1px solid $accent;
          margin: 16px auto;
          &.left {
            margin: 26px 0;
          }
        }
        & .icons-block {
          position: relative;
          padding-top: 55px;
          padding-bottom: 73px;
          & .wrapper {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            @media (max-width: (600px)) {
              flex-direction: column;
              align-items: center;
            }
            & .item {
              width: 24%;
              margin: 0 1.5%;
              text-align: center;
              @media (max-width: (600px)) {
                width: 70%;
                margin: 0 auto;
                margin-bottom: 50px;
              }
              & .icon-container {
                margin-bottom: 28px;
                & > img {
                  position: relative;
                  width: 94px;
                  display: inline-block;
                }
              }
              & > h4 {
                font-size: 17px;
                font-weight: 400;
                line-height: 1.55em;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $black;
                margin-bottom: 13px;
                min-height: 52px;
              }
              & p {
                font-size: 14px;
                line-height: 26px;
                color: $gray;
                font-weight: 400;
                padding: 0 5px;
              }
            }
          }
        }
        & .styles {
          padding: 78px 50px;
          background: $lightestgray;
          @media (max-width: (600px)) {
            padding: 48px 5%;
          }
          &.white {
            background: $white;
          }
          & .info-block {
            padding-left: 15px;
            padding-right: 15px;
            width: 54%;
            display: inline-block;
            &.half {
              box-sizing: border-box;
              width: 49%;
              vertical-align: top;
            }
            &.project {
              width: 100%;
              text-align: justify;
              padding: 0;
            }
            @media (max-width: (600px)) {
              padding: 0;
              width: 100% !important;
              &:nth-child(2) {
                margin-top: 50px;
              }
            }
            & > h2 {
              color: $black;
              font-size: 33px;
              line-height: 1.21em;
              font-weight: 300;
              letter-spacing: 1px;
              text-transform: uppercase;
              margin: 0;
            }
            & > div {
              margin-bottom: 26px;
              padding-right: 20px;
              & * {
                color: $gray;
                font-weight: 400;
              }
              p, li, span, div {
                font-size: 14px;
              }
              p {
                line-height: 26px;
              }
              h1, h2, h3, h4 ,h5, h6 {
                color: $black;
                & * {
                  color: $black;
                }
              }
              a {
                text-decoration: underline;
                &:hover, &:hover *{
                  color: $black;
                }
              }
            }
            & > a.review-btn {
              display: inline-block;
              position: relative;
              outline: 0;
              font-style: normal;
              font-weight: 700;
              font-family: inherit;
              padding: 17px 43px;
              font-size: 11px;
              line-height: 1.7em;
              text-transform: uppercase;
              letter-spacing: 2px;
              border-radius: 55px;
              background: linear-gradient(to right, #c0954b, #e7bd74);
              color: $black;
              cursor: pointer;
              text-decoration: none;
              &:hover {
                color: $white;
                background: $black;
              }
            }
          }
          & .image-block {
            display: inline-block;
            vertical-align: top;
            width: 39%;
            @media (max-width: (600px)) {
              margin-top: 27px;
              width: 100%;
            }
            & img {
              width: 100%;
              min-height: 270px;
              object-fit: cover;
            }
            & .info {
              margin-top: -8px;
              @media (max-width: (900px)) {
                margin-top: 20px;
              }
              @media (max-width: (600px)) {
                margin-top: 30px;
              }
              & .group {
                display: block;
                margin-bottom: 20px;
                margin-left: 30px;
                @media (max-width: (600px)) {
                  margin-left: 0;
                }
                & .icon {
                  display: inline-block;
                  width: 10%;
                  vertical-align: top;
                  & .fa {
                    font-size: 28px;
                    color: $accent;
                    font-weight: 100;
                  }
                }
                & .text {
                  display: inline-block;
                  width: 80%;
                  vertical-align: top;
                  & a {
                    display: block;
                    font-size: 16px;
                    font-weight: 300;
                    color: $gray;
                    margin-bottom: 5px;
                  }
                }
              }
            }
          }
        }
        & .style-blocks {
          font-size: 0;
          & .block {
            position: relative;
            display: inline-block;
            width: 33.333333333333%;
            height: calc((100vw - 280px) * 0.18);
            @media (max-width: (600px)) {
              width: 100%;
              height: auto;
            }
            cursor: pointer;
            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            & .info {
              z-index: 5;
              transition: 0.5s;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              transition: .3s;
              & .wrapper {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                margin: 20px;
                height: calc(100% - 40px);
                border: 1px solid $white;
                opacity: 0;
                & h4 {
                  margin: 0;
                  margin-bottom: 3px;
                  letter-spacing: 4px;
                  font-weight: 400;
                  font-size: 18px;
                  text-transform: uppercase;
                  text-align: center;
                  color: $white;
                }
                & h5 {
                  margin: 0;
                  letter-spacing: 0.6px;
                  font-weight: 300;
                  font-style: italic;
                  font-size: 13px;
                  color: $accent;
                  text-align: center;
                }
              }
            }
            &:hover{
              .info {
                background: rgba(0,0,0,0.4);
                .wrapper {
                  opacity: 1;
                }
              }
            }
          }
          & .footer-block {
            width: 100%;
            padding: 40px 0;
            background: $dark;
            & .wrapper {
              margin: 0 auto;
              width: 900px;
              display: flex;
              justify-content: space-around;
              align-items: center;
              @media (max-width: (900px)) {
                width: 100%;
              }
              @media (max-width: (600px)) {
                flex-direction: column;
                text-align: center;
              }
              & h3 {
                color: $white;
                font-weight: 400;
                font-size: 21px;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 22px;
                @media (max-width: (600px)) {
                  line-height: 28px;
                }
              }
              & a {
                display: inline-block;
                position: relative;
                outline: 0;
                font-style: normal;
                font-weight: 700;
                font-family: inherit;
                padding: 17px 43px;
                font-size: 11px;
                line-height: 1.7em;
                text-transform: uppercase;
                letter-spacing: 2px;
                border-radius: 55px;
                border: 1px solid $white;
                margin-left: 7px;
                color: $white;
                transition: 0.3s;
                &:hover {
                  background: $white;
                  color: $black;
                }
              }
            }
          }
        }
      }
      & .contacts {
        display: flex;
        justify-content: space-between;
        align-items: top;
        padding: 88px 0;
        @media (max-width: (600px)) {
          flex-direction: column;
        }
        & .info {
          width: 35%;
          height: 322px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @media (max-width: (600px)) {
            order: 1;
            width: 100%;
          }
          & > h3 {
            margin: 0;
            font-weight: 400;
            font-size: 21px;
            line-height: 1.428571428571429em;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
          & > p {
            color: $gray;
          }
          & > a {
            font-size: 25px;
            line-height: 27px;
            font-weight: 300;
            letter-spacing: 0px;
            color: $gray;
          }
        }
      }
      & .contact-form {
        width: 60%;
        font-size: 0;
        @media (max-width: (600px)) {
          order: 2;
          width: 100%;
          margin-top: 40px;
        }
        & input,
        & textarea {
          &.short {
            width: 48%;
            &:nth-child(1) {
              margin-right: 4%;
            }
          }
          &:focus {
            border-color: $accent;
          }
          display: inline-block;
          box-sizing: border-box;
          width: 100%;
          color: #aaaaaa;
          font-size: 16px;
          font-family: Arial, Helvetica, sans-serif !important;
          line-height: 20px;
          padding: 16.5px 15px;
          font-weight: 400;
          text-transform: capitalize;
          letter-spacing: 0px;
          border: 1px solid #aaaaaa;
          border-radius: 0px;
          margin-bottom: 14px;
          outline: none !important;
          box-shadow: none !important;
        }
        & button {
          display: inline-block;
          position: relative;
          outline: 0;
          border: none;
          font-style: normal;
          font-weight: 700;
          font-family: inherit;
          padding: 17px 43px;
          font-size: 11px;
          line-height: 1.7em;
          text-transform: uppercase;
          letter-spacing: 2px;
          border-radius: 55px;
          background: linear-gradient(to right, #c0954b, #e7bd74);
          color: $black;
          cursor: pointer;
          &:hover {
            color: $white;
            background: $black;
          }
        }
      }
      & .project-line {
        &.mt {
          padding-top: 55px;
        }
        &.mb {
          margin-bottom: 68px;
        }
        padding: 0 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        margin-bottom: 27px;
        @media (max-width: (600px)) {
          flex-direction: column;
          margin-bottom: 0;
        }
        & .project {
          width: 44%;
          @media (max-width: (600px)) {
            width: 100%;
            margin-bottom: 27px;
          }
          & .img-block {
            position: relative;
            width: 100%;
            font-size: 0;
            height: calc((100vw - 280px) * 0.3);
            @media (max-width: (600px)) {
              height: auto;
            }
            & img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              @media (max-width: (600px)) {
                width: 100%;
                height: auto;
                margin-bottom: 27px;
              }
            }
            & .backdrop {
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.6);
              transition: 0.5s;
              & h5 {
                position: absolute;
                bottom: 20px;
                right: 30px;
                color: $white;
                margin: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5556em;
                text-transform: uppercase;
                letter-spacing: 1px;
              }
            }
            & .border {
              z-index: -1;
              position: absolute;
              top: 0;
              left: 0;
              width: 98%;
              height: 98%;
              border: 1px solid $accent;
              transition: 0.3s;
            }
            &:hover {
              & .backdrop {
                opacity: 1;
              }
              & .border {
                top: 15px;
                left: 20px;
              }
            }
          }
          & h4 {
            margin: 0;
            padding-top: 13px;
            font-weight: 400;
            font-size: 17px;
            line-height: 1.5556em;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: 0.3s;
            & a {
              color: $black;
            }
            &:hover {
              & a {
                color: $accent;
              }
            }
          }
          & p {
            margin: 0;
            margin-top: -5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #d6ab60;
            font-style: italic;
          }
        }
      }
      & .text-block {
        padding: 30px 0;
        & h5 {
          font-weight: 400;
          font-size: 17px;
          line-height: 1.428571428571429em;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        & p,
        & li {
          font-size: 14px;
          line-height: 26px;
          color: $gray;
          font-weight: 400;
          margin-bottom: 26px;
          & > a {
            color: $black;
            text-decoration: underline;
            transition: 0.3s;
            &:hover {
              color: $accent;
            }
          }
        }
        & li {
          margin-bottom: 12px;
        }
        & a.gold {
          display: inline-block;
          position: relative;
          outline: 0;
          font-style: normal;
          font-weight: 700;
          font-family: inherit;
          padding: 17px 43px;
          font-size: 11px;
          line-height: 1.7em;
          text-transform: uppercase;
          letter-spacing: 2px;
          border-radius: 55px;
          background: linear-gradient(to right, #c0954b, #e7bd74);
          color: $black;
          &:hover {
            color: $white;
            background: $black;
          }
        }
        & a.black {
          display: inline-block;
          position: relative;
          outline: 0;
          font-style: normal;
          font-weight: 700;
          font-family: inherit;
          padding: 17px 43px;
          font-size: 11px;
          line-height: 1.7em;
          text-transform: uppercase;
          letter-spacing: 2px;
          border-radius: 55px;
          border: 1px solid $black;
          margin-left: 7px;
          color: $black;
          transition: 0.3s;
          &:hover {
            background: $black;
            color: $white;
          }
        }
      }
      & .services {
        padding: 60px 0;
        display: flex;
        justify-content: space-around;
        align-items: top;
        @media (max-width: (600px)) {
          flex-direction: column;
          justify-content: flex-start;
        }
        & > ul {
          list-style: none;
          padding: 0;
          margin: 0;
          border: 1px solid $accent;
          width: 30%;
          background: $servicegray;
          @media (max-width: (600px)) {
            width: 94%;
            margin: 0 auto;
            margin-bottom: 30px;
          }
          & li {
            background: $servicegray;
          }
          & li.name {
            display: flex;
            justify-content: center;
            flex-direction: column;
            min-height: 56px;
            padding: 29px 10px 19px;
            border-bottom: 1px solid #eee;
            text-align: center;
            text-transform: uppercase;
            background: linear-gradient(to right, #c0954b, #e7bd74);
            & h3 {
              font-weight: 400;
              font-size: 21px;
              color: $white;
              margin: 0;
            }
          }
          & li.price {
            padding: 18px 5px 26px;
            text-align: center;
            border-bottom: 1px solid #eee;
            & span {
              position: relative;
              & > span {
                color: $black;
                font-size: 64px;
                margin-left: 15px;
                &.currency {
                  font-size: 21px;
                  position: absolute;
                  top: -21px;
                  left: -25px;
                }
              }
            }
            & p {
              margin-top: 15px;
              color: $accent;
              font-size: 14px;
              font-weight: 500;
            }
          }
          & li.text {
            padding: 25px 40px 26px;
            text-align: center;
            & p {
              margin: 0;
              color: $gray;
              line-height: 20px;
              font-size: 14px;
              margin-bottom: 10px;
            }
          }
        }
      }
      & .project-item {
        padding: 40px 0 30px;
        border-bottom: 1px solid $accent;
        &:last-child {
          border-bottom: none;
          padding-bottom: 70px;
        }
        & h2 {
          margin: 0;
          font-weight: 400;
          font-size: 21px;
          line-height: 1.428571428571429em;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: $black;
        }
        & h6 {
          font-size: 14px;
          font-weight: 400;
          color: $accent;
          font-style: italic;
          margin: 0;
          margin-bottom: 25px;
        }
        & .project-preview {
          font-size: 0;
          position: relative;
          display: flex;
          justify-content: space-between;
          height: 400px;
          @media (max-width: (900px)) {
            flex-direction: column;
            height: auto;
          }
          & .easyzoom {
            width: 57%;
            height: 100%;
            @media (max-width: (900px)) {
              width: 100%;
              height: auto;
            }
            & > a > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              @media (max-width: (900px)) {
                height: auto;
              }
            }
          }
          & ul {
            width: 44%;
            padding: 0;
            text-align: right;
            @media (max-width: (900px)) {
              width: 65%;
              margin-top: 10px;
              text-align: left;
              font-size: 0;
            }
            @media (max-width: (600px)) {
              margin-top: 10px;
              width: 100%;
              text-align: left;
              font-size: 0;
            }
            & li {
              display: inline-block;
              width: 30%;
              padding-right: 5px;
              padding-bottom: 5px;
              height: 100px;
              @media (max-width: (900px)) {
                width: 32%;
                height: auto;
                margin-right: 2%;
                margin-bottom: 10px;
                padding: 0;
                &:nth-child(3n) {
                  margin-right: 0;
                }
              }
              @media (max-width: (600px)) {
                width: 49%;
                margin-right: 2%;
                margin-bottom: 10px;
                padding: 0;
                &:nth-child(3n) {
                  margin-right: 2%;
                }
                &:nth-child(2n) {
                  margin-right: 0;
                }
              }
              & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: 0;
                @media (max-width: (900px)) {
                  height: auto;
                }
              }
            }
          }
          & > a {
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 5px;
            outline: 0;
            font-style: normal;
            font-weight: 700;
            font-family: inherit;
            padding: 17px 43px;
            font-size: 11px;
            line-height: 1.7em;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-radius: 55px;
            background: linear-gradient(to right, #c0954b, #e7bd74);
            color: $black;
            @media (max-width: (900px)) {
              bottom: 10px;
            }
            @media (max-width: (600px)) {
              bottom: 10px;
              right: 0px;
              padding: 17px 25px;
            }
            &:hover {
              color: $white;
              background: $black;
            }
          }
        }
      }
      & .styles-container {
        padding-top: 40px;
        font-style: 0;
        & .style {
          display: inline-block;
          width: 48.5%;
          margin-right: 2%;
          margin-bottom: 30px;
          &:nth-child(2n) {
            margin-right: 0;
          }
          @media (max-width: (600px)) {
            width: 100%;
            margin: 0;
            margin-bottom: 35px;
          }
          & .img-block {
            position: relative;
            width: 100%;
            font-size: 0;
            height: calc((100vw - 280px) * 0.3);
            @media (max-width: (600px)) {
              height: auto;
            }
            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            & .backdrop {
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.6);
              transition: 0.5s;
              & h5 {
                position: absolute;
                left: 50%;
                bottom: 50%;
                transform: translate(-50%);
                color: $white;
                margin: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5556em;
                text-transform: uppercase;
                letter-spacing: 5px;
                transition: 0.3s;
                &:hover {
                  color: $accent;
                }
              }
            }
            & .border {
              margin: 18px;
              height: calc(100% - 36px);
              border: 1px solid $white;
              transition: 0.3s;
              @media (max-width: (600px)) {
                top: 15px;
                left: 20px;
              }
            }
            &:hover {
              & .backdrop {
                opacity: 1;
              }
              & .border {
                top: 15px;
                left: 20px;
              }
            }
          }
          & h4 {
            margin: 0;
            padding-top: 13px;
            font-weight: 400;
            font-size: 17px;
            line-height: 1.5556em;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: 0.3s;
            & a {
              color: $black;
            }
            &:hover {
              & a {
                color: $accent;
              }
            }
          }
          & p {
            margin: 0;
            margin-top: -5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #d6ab60;
            font-style: italic;
          }
        }
      }
      & .footer {
        width: 100%;
        background-color: #000;
        padding: 18px 0;
        & .text {
          text-align: right;
          color: $accent;
          font-size: 12px;
          padding: 0 65px;
        }
      }
    }
  }
}

.popup {
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  *::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #757575;
  }
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  &-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
    height: 100vh;
    max-height: 450px;
    padding: 80px 50px 40px;
    background: #fff;
    @media (max-width: (600px)) {
      max-height: none;
      box-sizing: border-box;
      overflow: hidden;
      padding: 40px 20px 20px;
    }
    > .popup-text-block {
      height: calc(100% - 90px);
      overflow-y: scroll;
    }
    & h2,
    & label {
      color: #313131;
      font-size: 33px;
      line-height: 1.21em;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
    }
    & .popup-line {
      border-bottom: 1px solid $accent;
      min-width: 15px;
      width: 15px;
      max-width: 100%;
      border-bottom: 1px solid $accent;
      margin: 25px 0;
      @media (max-width: (600px)) {
        margin: 18px 0;
      }
    }
    & p,
    li {
      font-size: 14px;
      line-height: 26px;
      color: #757575;
      font-weight: 400;
      padding: 0 5px;
      margin-bottom: 10px;
    }
    & li {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  &-close {
    position: absolute;
    top: 35px;
    right: 45px;
    color: #313131;
    font-size: 18px;
    line-height: 1.21em;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0;
    @media (max-width: (600px)) {
      right: 20px;
    }
    &:hover {
      color: $accent;
    }
  }
}
.wide {
  width: 100% !important;
}
