<template>
    <v-card id="edit">
        <v-container fluid pa-2>
            <v-card-title primary-title>
                <div>
                    <h2 class="headline mb-0">Редактирование проекта</h2>
                    <div></div>
                </div>
            </v-card-title>
            <v-container fluid grid-list-md pa-4>
                <updating-form
                            v-if="product.name"
                            ref="form"
                            :product="product" 
                            mode="update"
                ></updating-form>
                <v-data-table
                        :headers="headers"
                        :items="product.gallery"
                        hide-actions
                        class="elevation-1"
                    >
                        <template slot="items" slot-scope="props">
                            <td class="text-xs-left">{{ props.item.order }}</td>
                            <td class="text-xs-left">{{ props.item.alt }}</td>
                            <td class="text-xs-center">
                            <v-btn right color="primary" @click="openPreview(props.item.image_url)">предпросмотр</v-btn>
                            </td>
                            <td class="justify-center layout px-0">
                                <v-btn icon class="mx-0" @click="deleteProductPhoto(props.item.id)">
                                    <v-icon color="pink">delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                </v-data-table>
                <v-spacer></v-spacer>
                <br>
                <v-btn @click="addPhoto()">Добавить фото</v-btn>    
                <v-card-actions>
                    <v-container fluid class="align-end">
                        <v-btn flat right color="primary" @click="$router.push('/products')">Вернуться к списку</v-btn>
                        <v-btn right color="primary" @click="save" :loading="loading">Сохранить</v-btn>
                    </v-container>
                </v-card-actions>
            </v-container> 
        </v-container>

        <v-dialog v-model="addPhotoDialog"max-width="600px">
            <photoForm  item="products"
                        :parentId="$route.params.id"
                        @close="addPhotoDialog = false"
                        @added="photoAdded()">
            </photoForm>
        </v-dialog>

        <v-dialog v-model="previewPhotoDialog" max-width="550px">
            <v-card class="pa-5">
                <img :src="photoPreview" width="450px">
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="previewPhotoDialog = false">Закрыть</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
    import UpdatingForm from './form.vue'
    import PhotoForm from '../@common/photoForm.vue'
    export default {
        data() {
            return {
                addPhotoDialog: false,
                previewPhotoDialog: false,
                product: {
                    show_on_main: 0
                },
                loading: false,
                photoPreview: '',
                headers: [
                    {
                        text: 'Порядковый номер',
                        align: 'left',
                        sortable: false,
                        value: 'order'
                    },
                    {
                        text: 'Описание',
                        align: 'left',
                        sortable: false,
                        value: 'alt'
                    },
                    { 
                        text: 'Препросмотр',
                        align: 'center',
                        value: '',
                        sortable: false
                    },
                    { text: '', align: 'center', value: '', sortable: false }
                ]
            }
        },

        components: {
            UpdatingForm,
            PhotoForm
        },

        mounted () {          
            this.load();
        },

        methods: {
            addPhoto () {
                this.addPhotoDialog = true;
            },
            openPreview (url) {
                this.previewPhotoDialog = true;
                this.photoPreview = url;
            },
            photoAdded () {
                this.addPhotoDialog= false;
                this.load();
            },
            async load () {
                this.$http.get(`products/${this.$route.params.id}`).then((product) => {
                    this.product = product;
                }); 
            },
            save () {
                this.loading = true;

                const data = new FormData()
                for (let key in this.product) {
                    if (key !==  'phones') {
                        data.append(key, this.product[key]);
                    }
                }
                
                this.$http.post(`products/${this.$route.params.id}`, data).then((response) => {
                    this.loading = false;
                    this.flash('Изменения сохранены', 'success');
                    this.$refs.form.hideImage = false;
                    this.load();
                },(error) => {
                    this.loading = false;
                    this.flash('Ошибка', 'error');
                });
            },
            async deleteProductPhoto (id) {
                try {
                    await this.$http.delete(`products/image/${id}`);
                    await this.load();
                    this.flash('Фото успешно удалено', 'success');
                } catch(e) {
                    this.flash('Ошибка', 'error');
                }
            }
        }
    }
</script>

<style lang="css">
    .table__overflow {
        overflow: hidden !important;
    }
</style>