<template>
    <v-layout>
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-layout child-flex wrap>
                <v-flex md6>
                    <v-text-field
                        label="Название проекта"
                        v-model="product.name"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>
                 <v-flex md6>
                    <v-text-field
                        label="Ссылка проекта"
                        v-model="product.slug"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>
                <v-flex md6>
                    <v-text-field
                        label="Стиль проекта"
                        v-model="product.style"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>
                <v-flex md6>
                    <v-text-field
                        label="Порядок проекта"
                        v-model="product.order"
                    ></v-text-field>
                </v-flex>
                <v-flex md6>
                    <v-select
                        label="Тип проекта"
                        :items="[{ name: 'Тип проекта неопределен', id: null } ,...types]"
                        item-text="name"
                        item-value="id"
                        v-model="product.type_id"
                        single-line
                    ></v-select>
                </v-flex>
                <v-flex md6>
                    <v-text-field
                        label="Метраж"
                        v-model="product.size"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>
                <v-flex md6>
                    <v-checkbox
                        label="Показывать на главной"
                        :true-value="1"
                        :false-value="0"
                        v-model="product.show_on_main"
                        required
                    ></v-checkbox>
                </v-flex>
                <v-flex md12>
                    <v-layout child-flex wrap>
                    <v-flex md6>
                        <v-text-field prepend-icon="attach_file" 
                                      single-line
                                      v-model="mainFileName" 
                                      label="Главная картинка"
                                      @click.native="onFocus(false)"
                                      ref="fileTextField">
                        </v-text-field>
                        <input type="file" ref="mainFileInput" @change="onFileChange">
                    </v-flex>
                    <v-flex md4>
                        <v-btn 
                            v-if="product.image_url && mode === 'update' && !hideImage" 
                            color="primary" dark 
                            @click.stop="dialog = true">
                            Смотреть
                        </v-btn>
                    </v-flex>
                    </v-layout>
                </v-flex>
                <v-flex md12>
                    <label>Описание проекта</label>
                    <vue-editor id="about" v-model="product.about"></vue-editor>
                </v-flex>
            </v-layout>
        </v-form> 
        <v-dialog v-model="dialog" max-width="500px">
            <v-card>
                <v-card-text>
                    <img :src="product.image_url" width="400px"/>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialog=false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    import { VueEditor } from 'vue2-editor';

    export default {
        props: ['product', 'mode'],

        components: {
            VueEditor
        },

        data () {
            return {
                valid: true,
                hideImage: false,
                dialog: false,
                activeImage: '',
                mainFileName: '',
                types: [],
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ]
            }
        },

        created () {
            this.$http.get(`allProjectTypes`).then(response => {
                this.types = response;
            });
        },

        mounted () {
            if (this.mode === 'update') {
                this.mainFileName = this.product.image;
            }
        },

        methods: {
            onFocus (isPlan) {
                if (isPlan) {
                    this.$refs.planFileInput.click();
                } else {
                    this.$refs.mainFileInput.click();
                }
            },
            onFileChange($event) {
                if (this.mode === 'update') {
                    this.hideImage = true;
                }
                this.product.image = $event.target.files[0] || $event.dataTransfer.files[0];
                this.mainFileName = $event.target.files[0].name || $event.dataTransfer.files[0].name;
            },
            onPlanChange($event) {
               if (this.mode === 'update') {
                    this.hideImage = true;
                }
                this.product.plan_img = $event.target.files[0] || $event.dataTransfer.files[0];
            },
            validate () {
                return this.$refs.form.validate();
            },
            clear () {
                this.$refs.form.reset()
            }
        }
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>