<template>
    <v-layout>
        <v-card>
            <v-container fluid pa-2>
                <v-card-title primary-title>
                    <div>
                        <h1 class="headline mb-0">Список проектов</h1>
                        <div>* - обязательное поле</div>
                    </div>
                </v-card-title>
                <v-container fluid grid-list-md pa-4>
                    <v-data-table
                        :headers="headers"
                        :items="products"
                        hide-actions
                        class="elevation-1"
                    >
                        <template slot="items" slot-scope="props">
                            <td class="text-md-center">{{ props.item.id }}</td>
                            <td class="text-md-center">{{ props.item.name }}</td>
                            <td class="text-md-center">{{ props.item.style }}</td>
                            <td class="justify-center layout px-0">
                                <v-btn icon class="mx-0" @click="$router.push(`/products/${props.item.id}`)">
                                    <v-icon color="teal">edit</v-icon>
                                </v-btn>
                                <v-btn icon class="mx-0" @click="deleteProduct(props.item)">
                                    <v-icon color="pink">delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </v-container>
            </v-container>
        </v-card>        
    </v-layout>
</template>

<script>
    export default {

        data() {
            return {
                products: [],
                headers: [
                    {
                        text: 'ID',
                        align: 'center',
                        sortable: false,
                        value: 'id'
                    },
                    {
                        text: 'Название',
                        align: 'center',
                        sortable: false,
                        value: 'name'
                    },
                    { 
                        text: 'Стиль',
                        align: 'center',
                        value: 'style',
                        sortable: false
                    },
                    { text: '', align: 'center', value: '', sortable: false }
                ]
            }
        },

        mounted() {
            this.load();
        },

        methods: {

            refresh () {
                this.load();
            },

            async load () {
                var responsedData = await this.$http.get('products');
                this.products = responsedData;
            },

            async deleteProduct (product) {
                try {
                    await this.$http.delete(`products/${product.id}`);
                    await this.load();
                    this.flash('Услуга успешно удалёна', 'success');
                } catch(e) {
                    this.flash('Ошибка', 'error');
                }
            }
        }
    }
</script>

<style>
    .v-card, .card {
        width: 100%;
    }
    .v-table, .table__overflow {
        overflow-x: hidden !important;
    }
</style>